p {
    line-height: 1rem;
}

.card {
    color: whitesmoke;
    margin: 5px;
    opacity: 0.9;
}
.card-igra {
    background: url(https://img.freepik.com/premium-vector/black-texture_136321-1475.jpg);
}
.card-dogodek {
    background: url(https://img.freepik.com/premium-vector/black-texture_136321-1475.jpg);
}
.card-predlagalnik {
    background: url(https://wallpaper.dog/large/20395931.jpg);
    opacity: 1;
    width: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.card:hover{
    opacity: 1;
}
.form-select{
   
    margin: 20px 0 20px 0;
}
.form-group {
    margin: 0 20px;
}
.form-group input {
    margin-bottom: 20px;
    
}
.login-page {
    align-items: center;
    display: flex;
    height: 100vh;
}
.wallpaper-login {
    background: url(https://wallpaperaccess.com/full/273264.jpg)
    no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}
.card-body {
    padding:0;
}

.wallpaper-register {
    background: url(https://wallpapercave.com/wp/wp4658679.jpg)
    no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;

}


.list-group {
    width: 50%;
    text-align: center;
}
.dodajIgroForm {
    padding: 10px;
}
